/* 
    Document   : smart-menu
    Created on : Aug 20, 2010, 9:50:43 PM
    Author     : uzzal
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

/*MENU*/

.leftmenu{
  /*background-image: url(/images/top.jpg);*/
  /*background-repeat:repeat;*/
  /*background-position: top left;*/
  /*margin: 10px 5px 5px 5px;*/
  margin-top:10px;
  text-align: right;
  height:auto;
}

.leftmenu_header{
  padding:4px 0px 0px 4px;
  text-align: center;
  /*background-image: url(/images/top.jpg);*/
  background-color:#F7FBFA;
  height: 25px;
  /*border-bottom:1px solid #CCCCCC;*/
  border-top:1px solid #CCCCCC;
  /*border-color: #FFFFFF;*/
}

.leftmenu_header label{
  font-family: sans-serif, tahoma, verdana;
  font-size: 10pt;
  color:#0066CC;
  font-weight: bold;
}

.leftmenu_body{
  background-color:#736F6E;
  /*background-image: url(/images/top.jpg);*/
  background-image: url(/images/l.gif);
  background-repeat: repeat;
  /*background-position:bottom left;*/
  background-position: top left;
  /*border: 1px solid;*/
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  border-left:1px solid #FFF;
  /*border-color: #FFFFFF;*/
}

.leftmenu ul{
  padding:0px 6px 15px 25px;
  text-align: left;
}

.leftmenu ul li{
  list-style:  url(/images/arrow.gif) inside;
  color:#E8C6FF;
  border-bottom: #D698FE 1px solid;
  line-height:20px;
  width:170px;

}
.leftmenu ul li a{
  font-family: sans-serif, tahoma, verdana;
  font-weight: bold;
  color:#0066CC;
  font-size: 9pt;
  text-decoration: none;
}