/* 
    Document   : style
    Created on : Aug 4, 2010, 11:56:53 AM
    Author     : uzzal
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
  display: block;
}
body{
  /*background-color:#EEEEFF;*/
  background-color:#F3F8F4;
  width:auto;
  text-align: center;
}

.main_template{
  text-align: left;
  margin: 0 auto;
  width:100%;
}

.maintemplateHeaderContainer{
  margin: 0 auto;
    background: url(/images/hdr.jpg) repeat;
  /*background: url(../images/hdrftr.jpg);*/
  background-repeat:repeat;
  background-color: #FFFFFF;
  width:950px;
  height: 90px;
  /*border-bottom: 2px solid;*/
  border-top:2px solid;
  /*border-bottom-color:#0099CC;*/
  /*border-bottom-color:#CCCCCC;*/
  border-top-color:#CCCCCC;
}

.main_template_header{
  margin: 0 auto;
  background: inherit;
  background-color: #FFFFFF;
  width: 950px;
  height: 90px;
}

.main_template_content{
  margin: 0 auto;
  width:950px;
  background:#FFFFFF;
}

.sitel_logo_container{
  padding-left:0px;
  height:70px;;
}

.sitel_slogan_container{
  padding-left: 0px;
}

.sitel_slogan_container label{
  font-family: verdana, tahoma;
  font-size: 10pt;
  font-weight:  bolder;
  font-style: oblique;
  letter-spacing: 1px;
  color:#0066CC;
  /*color:#75ECFD;*/
}

#img_sitel_logo{
  position: absolute;
  margin-top:-19px;
  width: 180px;
  height: 90px;
}

.main_template_options{
  /*background: url(/images/menuline.png);*/
  /*background-repeat:repeat;*/
  background-color:#FFFFFF;
  width: auto;
  height:32.5px;
  border-top:2px solid #3366CC;
  border-bottom:2px solid #3366CC;
  border-left:2px solid #3366CC;
  border-right:2px solid #3366CC;
}

.optionsSignout{
  float: right;
  margin-top: 20px;
  margin-right: 10px;
  padding-left: 3px;
}

.optionsSignout a{
  font-family: sans-serif;
  font-size: 11pt;
  color: black;
}

.optionsSignout a:hover{
  color:white;
}

.main_template_options form{
  padding: 3px 2px 2px 10px;
}

.template_content{
  background: url(/images/bg_shadow_bot.gif) repeat;
  /*background-color:#FFFFFF;*/
  height:587px;
  float: right;
  width: 75.6%;
  border-top:1px solid #CCCCCC;
  border-right:1px solid #CCCCCC;
  border-bottom:1px solid #CCCCCC;
  border-left:1px solid #CCCCCC;
}

.left_menu{
  height:587px;;
  float: left;
  width: 23.7%;
  border:1px solid;
  border-color: #CCCCCC;
  background-color:#FFFFFF;
}

.main_template_footer{
  background: url(../images/hdrftr.jpg) repeat;
  width: auto;
  height: 70px;
}

.footer_label_container{
  padding-top: 28px;
  text-align: center;
  height:auto;
}

.footer_label_container label{
  font-family:monospace;
  font-variant: normal;
  font-style: oblique;
  font-weight: bold;
  color:#75ECFD;
  letter-spacing: 1px;
}

.clear{
  clear: both;
}